In [1]:
import pandas as pd

In [39]:
df = pd.read_csv("vehicles.csv")
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 3.3+ MB

In [4]:
df.describe()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

In [5]:
df.columns #get the whole column names

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

# Renaming Columns

In [67]:
#df = df.rename(columns={"Make":"Manufacturer"}) ya da
df.rename(columns={"Make":"Manufacturer"},inplace=True)

In [9]:
df.head()

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [11]:
df.rename(columns={"Engine Displacement": "Displacement"},inplace=True) #key-value pairs

# Filtering Data

In [16]:
#only for manufacturer Ford, eger ilk df kullanmazsan sadece boolean olarak gelir
df_ford = df[df["Manufacturer"] == "Ford"]
df_ford.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11440,Ford,Aerostar Van,1986,2.3,4.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,17.347895,18,22,19,467.736842,1750
11441,Ford,Aerostar Van,1986,2.3,4.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,13.733750,23,26,24,370.291667,1400
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11443,Ford,Aerostar Van,1986,2.8,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,18.311667,16,22,18,493.722222,1850
11444,Ford,Aerostar Van,1986,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,17.347895,17,22,19,467.736842,1750

In [25]:
df_ford_1986 = df[(df["Manufacturer"] == "Ford") & (df["Year"] == 1986)] 
# parantez icinde conditionlari yazman lazim her condition kendi parantezinde
df_ford_1986.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11440,Ford,Aerostar Van,1986,2.3,4.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,17.347895,18,22,19,467.736842,1750
11441,Ford,Aerostar Van,1986,2.3,4.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,13.733750,23,26,24,370.291667,1400
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11443,Ford,Aerostar Van,1986,2.8,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,18.311667,16,22,18,493.722222,1850
11444,Ford,Aerostar Van,1986,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,17.347895,17,22,19,467.736842,1750

# Calculations on DataFrames

In [27]:
from datetime import date
current_date = date.today()
year = current_date.year
year

2020

In [28]:
df["Age"] = year - df["Year"]
df.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,Age
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,36
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,36
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,35
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,35
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,33

# Dropping Columns

In [30]:
df = df.drop("Fuel Cost/Year", axis=1) #axis=1 for dropping the column
df.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Age
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,36
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,36
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,35
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,35
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,33

In [ ]:
#del df["Year"] bu da column silmek icin ise yarar

In [36]:
#df = df.drop(["Highway MPG","City MPG"],axis=1)

In [35]:
df.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,Combined MPG,CO2 Emission Grams/Mile,Age
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,17,522.764706,36
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,683.615385,36
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,555.437500,35
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,683.615385,35
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,16,555.437500,33

# Applying functions to Columns

In [37]:
df.sum() # to sum everything

Manufacturer               AM GeneralAM GeneralAM GeneralAM GeneralASC In...
Model                      DJ Po Vehicle 2WDFJ8c Post OfficePost Office D...
Year                                                                71929756
Displacement                                                          120026
Cylinders                                                             207266
Transmission               Automatic 3-spdAutomatic 3-spdAutomatic 3-spdA...
Drivetrain                 2-Wheel Drive2-Wheel DriveRear-Wheel DriveRear...
Vehicle Class              Special Purpose Vehicle 2WDSpecial Purpose Veh...
Fuel Type                  RegularRegularRegularRegularPremiumRegularRegu...
Fuel Barrels/Year                                                     633081
Combined MPG                                                          716499
CO2 Emission Grams/Mile                                          1.70886e+07
Age                                                                   693284
dtype: object

In [38]:
df.sum(axis=1) #axis = 0 asagiya dogru axis = 1 saga dogru toplar

0        2585.653529
1        2752.170000
2        2618.538125
3        2752.170000
4        2621.838125
            ...
35947    2313.155833
35948    2312.155833
35949    2313.155833
35950    2315.055833
35951    2323.317429
Length: 35952, dtype: float64

In [49]:
df["Year"].sum() #sum of the column

71929756

In [45]:
sum(df["Year"])

71929756

In [46]:
import numpy as np
np.sum(df["Year"])

71929756

In [48]:
df[["Year","City MPG"]].sum() #list of columns

Year        71929756
City MPG      634414
dtype: int64

In [50]:
columns_to_compute = ["Year","City MPG"]
df[columns_to_compute].sum()

Year        71929756
City MPG      634414
dtype: int64

In [51]:
df[["Year","City MPG"]].max()

Year        2017
City MPG      58
dtype: int64

In [52]:
df[["Year","City MPG"]].min()

Year        1984
City MPG       6
dtype: int64

In [59]:
df.nlargest(3,"Year") #en büyük olan 3 yila ait sütunlari veriyor

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
46,Acura,ILX,2017,2.4,4.0,Auto(AM-S8),Front-Wheel Drive,Compact Cars,Premium,11.365862,25,35,29,309.0,1400
140,Acura,MDX AWD,2017,3.5,6.0,Automatic (S9),All-Wheel Drive,Small Sport Utility Vehicle 4WD,Premium,14.982273,19,26,22,404.0,1850
141,Acura,MDX AWD,2017,3.5,6.0,Automatic (S9),All-Wheel Drive,Small Sport Utility Vehicle 4WD,Premium,15.695714,18,26,21,424.0,1950

In [60]:
df.nlargest(3,columns_to_compute) # columns_to_compute = ["Year","City MPG"]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
33280,Toyota,Prius Eco,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,5.885893,58,53,56,158.0,600
33278,Toyota,Prius,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,6.338654,54,50,52,171.0,650
6497,Chevrolet,Malibu Hybrid,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,7.165435,49,43,46,194.0,700

**Sort values**

In [57]:
df.sort_values(by="Year").head()
# descending yapmak icin ascending = False demeen lazim
#df.sort_values(by="Year",ascending=False).head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
16337,GMC,T15 (S15) Pickup 4WD,1984,2.8,6.0,Manual 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,19.388824,15,21,17,522.764706,1950
16336,GMC,T15 (S15) Pickup 4WD,1984,2.8,6.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,18.311667,15,22,18,493.722222,1850
5636,Chevrolet,El Camino Pickup 2WD,1984,3.8,6.0,Automatic 3-spd,2-Wheel Drive,Standard Pickup Trucks 2WD,Regular,19.388824,15,19,17,522.764706,1950
5637,Chevrolet,El Camino Pickup 2WD,1984,3.8,6.0,Automatic 4-spd,2-Wheel Drive,Standard Pickup Trucks 2WD,Regular,18.311667,15,22,18,493.722222,1850

In [58]:
df.sort_values(by=["Year","City MPG"]).head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
9068,Dodge,B350 Wagon 2WD,1984,5.9,8.0,Automatic 3-spd,2-Wheel Drive,"Vans, Passenger Type",Regular,36.623333,8,10,9,987.444444,3700
8705,Dodge,AW100/AW150 Ramcharger 4WD,1984,5.9,8.0,Automatic 3-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicle 4WD,Regular,32.961000,9,11,10,888.700000,3350
8909,Dodge,B150/B250 Wagon 2WD,1984,5.9,8.0,Automatic 3-spd,2-Wheel Drive,"Vans, Passenger Type",Regular,32.961000,9,11,10,888.700000,3350
9716,Dodge,D250 Pickup Cab Chassis 2WD,1984,5.9,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicles,Regular,32.961000,9,11,10,888.700000,3350
10916,Dodge,W100/W150 Pickup 4WD,1984,5.9,8.0,Automatic 3-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,32.961000,9,12,10,888.700000,3350

**using df.apply**

In [74]:
# dataframeler string gibi degil methodlari uygulaman icin.apply fonksiyonu uygulaman lazim ve bunun icerisine
# str.upper girmen lazim asagidaki gibi
df["Manufacturer"].apply(str.upper)

# ya da 
df["Manufacturer"].str.upper()

0              AM GENERAL
1              AM GENERAL
2              AM GENERAL
3              AM GENERAL
4        ASC INCORPORATED
               ...
35947               SMART
35948               SMART
35949               SMART
35950               SMART
35951               SMART
Name: Manufacturer, Length: 35952, dtype: object

In [104]:
def replace(df):
    return df.str.replace("e","b")

In [105]:
df[["Manufacturer","Fuel Type"]].apply(replace)

           Manufacturer Fuel Type
0            AM Gbnbral   Rbgular
1            AM Gbnbral   Rbgular
2            AM Gbnbral   Rbgular
3            AM Gbnbral   Rbgular
4      ASC Incorporatbd   Prbmium
...                 ...       ...
35947             smart   Prbmium
35948             smart   Prbmium
35949             smart   Prbmium
35950             smart   Prbmium
35951             smart   Prbmium

[35952 rows x 2 columns]

**Dataframe Aggregation using Group By**

In [106]:
df.mean()

Year                       2000.716400
Engine Displacement           3.338493
Cylinders                     5.765076
Fuel Barrels/Year            17.609056
City MPG                     17.646139
Highway MPG                  23.880646
Combined MPG                 19.929322
CO2 Emission Grams/Mile     475.316339
Fuel Cost/Year             1892.598465
dtype: float64

In [108]:
df.groupby(["Fuel Type"]).mean()
# fuel type a göre diger columnlarin ortalamalarina bakiyor

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Fuel Type,,,,,,,,,
CNG,2003.200000,3.963333,6.500000,0.119789,15.966667,22.016667,18.133333,454.976354,1954.166667
Diesel,1994.929748,4.188913,6.225027,17.680877,21.173436,27.466520,23.488474,470.905819,1673.326015
Gasoline or E85,2010.501255,4.465188,6.974059,19.560309,15.347280,21.613389,17.572385,527.444383,1978.870293
Gasoline or natural gas,2004.000000,4.570000,6.800000,23.725940,13.700000,18.700000,15.350000,638.967778,2410.000000
Gasoline or propane,2002.500000,5.400000,8.000000,24.720750,12.000000,16.500000,13.500000,666.525000,2500.000000
Midgrade,2014.148649,5.536486,7.864865,19.163168,14.851351,22.364865,17.378378,516.911921,2152.027027
Premium,2005.575345,3.517075,6.365286,17.852563,16.793166,23.855861,19.343816,481.159270,2198.094950
Premium Gas or Electricity,2014.470588,1.764706,4.235294,4.755412,30.705882,33.176471,31.647059,125.411765,1361.764706
Premium and Electricity,2015.700000,2.345000,4.850000,8.135294,24.900000,28.900000,26.300000,239.450000,1597.500000
Premium or E85,2012.917355,3.680992,6.892562,17.021126,17.305785,24.909091,20.090909,460.462355,2091.322314
Regular,1998.252597,3.164540,5.420952,17.467430,17.970195,23.854623,20.144698,470.907242,1767.024208
Regular Gas and Electricity,2014.625000,1.950000,4.000000,4.669536,43.125000,40.750000,41.937500,125.687500,812.500000
Regular Gas or Electricity,2016.500000,1.500000,4.000000,2.006844,43.000000,42.000000,42.000000,51.000000,800.000000

In [110]:
df.groupby(["Fuel Type","Manufacturer"]).mean()
#groupby by 2 columns

                                                 Year  Engine Displacement  \
Fuel Type                   Manufacturer
CNG                         Chevrolet     2004.400000             6.000000
                            Dodge         1998.875000             4.487500
                            Ford          2000.368421             5.063158
                            GMC           2004.500000             6.000000
                            Honda         2006.500000             1.738889
...                                               ...                  ...
Regular Gas and Electricity Ford          2014.777778             2.000000
                            Honda         2014.000000             2.000000
                            Hyundai       2016.500000             2.000000
                            Toyota        2013.500000             1.800000
Regular Gas or Electricity  Chevrolet     2016.500000             1.500000

                                          Cylinders  Fuel Barrels/Year  \
Fuel Type                   Manufacturer
CNG                         Chevrolet          8.00           0.181867
                            Dodge              7.25           0.133433
                            Ford               8.00           0.138454
                            GMC                8.00           0.180833
                            Honda              4.00           0.065410
...                                             ...                ...
Regular Gas and Electricity Ford               4.00           4.801412
                            Honda              4.00           4.827657
                            Hyundai            4.00           3.858080
                            Toyota             4.00           4.739011
Regular Gas or Electricity  Chevrolet          4.00           2.006844

                                           City MPG  Highway MPG  \
Fuel Type                   Manufacturer
CNG                         Chevrolet      9.400000    12.600000
                            Dodge         12.625000    17.250000
                            Ford          11.894737    16.842105
                            GMC            9.500000    13.000000
                            Honda         25.222222    34.222222
...                                             ...          ...
Regular Gas and Electricity Ford          40.333333    36.555556
                            Honda         47.000000    46.000000
                            Hyundai       38.000000    40.500000
                            Toyota        51.000000    49.000000
Regular Gas or Electricity  Chevrolet     43.000000    42.000000

                                          Combined MPG  \
Fuel Type                   Manufacturer
CNG                         Chevrolet        10.400000
                            Dodge            14.250000
                            Ford             13.736842
                            GMC              10.500000
                            Honda            28.500000
...                                                ...
Regular Gas and Electricity Ford             38.444444
                            Honda            46.000000
                            Hyundai          39.500000
                            Toyota           50.000000
Regular Gas or Electricity  Chevrolet        42.000000

                                          CO2 Emission Grams/Mile  \
Fuel Type                   Manufacturer
CNG                         Chevrolet                  693.198000
                            Dodge                      508.590547
                            Ford                       527.726359
                            GMC                        689.259375
                            Honda                      247.532772
...                                                           ...
Regular Gas and Electricity Ford                       127.111111
                            Honda                      130.000000
                            Hyundai                    102.500000
                            Toyota                     133.000000
Regular Gas or Electricity  Chevrolet                   51.000000

                                          Fuel Cost/Year
Fuel Type                   Manufacturer
CNG                         Chevrolet        2950.000000
                            Dodge            2181.250000
                            Ford             2252.631579
                            GMC              2925.000000
                            Honda            1077.777778
...                                                  ...
Regular Gas and Electricity Ford              888.888889
                            Honda             700.000000
                            Hyundai           850.000000
                            Toyota            650.000000
Regular Gas or Electricity  Chevrolet         800.000000

[265 rows x 9 columns]

In [118]:
df.groupby(["Fuel Type"])[lst].mean()
#groupby fuel type ama sadece Cylinders sütunu istiyorsun

                             Cylinders   City MPG
Fuel Type
CNG                           6.500000  15.966667
Diesel                        6.225027  21.173436
Gasoline or E85               6.974059  15.347280
Gasoline or natural gas       6.800000  13.700000
Gasoline or propane           8.000000  12.000000
Midgrade                      7.864865  14.851351
Premium                       6.365286  16.793166
Premium Gas or Electricity    4.235294  30.705882
Premium and Electricity       4.850000  24.900000
Premium or E85                6.892562  17.305785
Regular                       5.420952  17.970195
Regular Gas and Electricity   4.000000  43.125000
Regular Gas or Electricity    4.000000  43.000000

In [117]:
lst = ["Cylinders","City MPG"]

In [121]:
df.groupby(["Fuel Type"])[["Cylinders","City MPG"]].agg(["mean","max","min"])

                            Cylinders              City MPG
                                 mean   max  min       mean max min
Fuel Type
CNG                          6.500000   8.0  4.0  15.966667  27   8
Diesel                       6.225027  10.0  4.0  21.173436  38  13
Gasoline or E85              6.974059   8.0  4.0  15.347280  28  10
Gasoline or natural gas      6.800000   8.0  4.0  13.700000  21  10
Gasoline or propane          8.000000   8.0  8.0  12.000000  13  11
Midgrade                     7.864865   8.0  6.0  14.851351  21  13
Premium                      6.365286  16.0  2.0  16.793166  42   6
Premium Gas or Electricity   4.235294   8.0  2.0  30.705882  41  20
Premium and Electricity      4.850000   8.0  3.0  24.900000  37  16
Premium or E85               6.892562  12.0  4.0  17.305785  24  11
Regular                      5.420952  12.0  2.0  17.970195  58   7
Regular Gas and Electricity  4.000000   4.0  4.0  43.125000  51  38
Regular Gas or Electricity   4.000000   4.0  4.0  43.000000  43  43

In [122]:
df.groupby(["Fuel Type"])[["Cylinders","City MPG"]].agg(["mean","max","min"]).reset_index()
# reset index deyip tekrar bir df olarak kullanabilirsin

                      Fuel Type Cylinders              City MPG
                                     mean   max  min       mean max min
0                           CNG  6.500000   8.0  4.0  15.966667  27   8
1                        Diesel  6.225027  10.0  4.0  21.173436  38  13
2               Gasoline or E85  6.974059   8.0  4.0  15.347280  28  10
3       Gasoline or natural gas  6.800000   8.0  4.0  13.700000  21  10
4           Gasoline or propane  8.000000   8.0  8.0  12.000000  13  11
5                      Midgrade  7.864865   8.0  6.0  14.851351  21  13
6                       Premium  6.365286  16.0  2.0  16.793166  42   6
7    Premium Gas or Electricity  4.235294   8.0  2.0  30.705882  41  20
8       Premium and Electricity  4.850000   8.0  3.0  24.900000  37  16
9                Premium or E85  6.892562  12.0  4.0  17.305785  24  11
10                      Regular  5.420952  12.0  2.0  17.970195  58   7
11  Regular Gas and Electricity  4.000000   4.0  4.0  43.125000  51  38
12   Regular Gas or Electricity  4.000000   4.0  4.0  43.000000  43  43