## Two Sample Hypothesis Tests

### Matched Pairs

Blood samples from n = 10 people were sent to each of two laboratories (Lab 1 and Lab 2) for cholesterol determinations. The resulting data are summarized here:
- Sample 1 mean: 260.6
- Sample 2 mean: 275
- Mean of differences: -14.4
- Standard deviation of mean:  6.77

Is there a statistically significant difference at the α = 0.01 level, say, in the (population) mean cholesterol levels reported by Lab 1 and Lab 2?

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [4]:
# This is a paired t test
difference_mean = -14.4
difference_std = 6.77
n = 10
statistic = (difference_mean - 0)/(difference_std/np.sqrt(n))
pval = stats.t.sf(np.abs(statistic), n-1)

In [5]:
stats.t.interval(0.95, df=n-1, loc=difference_mean, scale=(difference_std/np.sqrt(n)))

(-19.242966253298913, -9.557033746701087)

#### Using data

In [2]:
bp = pd.read_csv('https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/data-static/data/module-2/blood_pressure.csv')
bp.head()

       before       after
0  136.713072   92.432965
1  134.735618  105.022643
2  127.529115   82.242766
3  144.527126   93.607172
4  124.214720  103.212223

In [4]:
from scipy.stats import ttest_rel
#help(ttest_rel) #related

In [5]:
ttest_rel(bp['after'], bp['before'])
# we can reject that they are the same, two samples are different from each other

# two sample da HO birbirlerine esit mi degil mi ona bakiyoruz. p value 0.05 den kücük o yüzden birbirlerine esit degiller we can reject that

Ttest_relResult(statistic=-27.291841767560236, pvalue=7.303035069608042e-48)

In [7]:
from scipy.stats import ttest_1samp # bu da yukaridaki gibi, arasindaki fark 0 mi ona bakiyoruz
ttest_1samp(bp['after']-bp['before'], 0)

print(np.mean(bp['after']-bp['before']))

#one sample hypothesis de yaptigimiz sey

#ttest_1samp(bp['after'], 150) bp["after"] ortalamasi 150 mi

-37.30025242504454

### Independent Samples

In [9]:
ab = pd.read_csv('https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/data-static/data/module-2/ab_test.csv')
ab.head()

#average of group 1 = average of group 2 null hypothesis bu ve bunu reject etmeye calisiyoruz

       a      b
0   0.27  13.61
1   6.08  21.53
2  13.74   9.23
3   9.70   5.36
4   7.00  12.90

In [10]:
from scipy.stats import ttest_ind

ttest_ind(ab['a'], ab['b'], equal_var=True)

#p_value is very small we can reject the null hypothesis the mean of two samples are different from each other

Ttest_indResult(statistic=-2.637533181209767, pvalue=0.009713140852447347)

In [16]:
ttest_ind(ab['a'], ab['b'], equal_var=False)
#two-sided test cant tell you which one is better or worse
#it does not have to be same length
# t-test yaparken we assume they are normally distributed

Ttest_indResult(statistic=-2.637533181209767, pvalue=0.009776243024828825)

In [ ]:
#one-sided and two-sided?