## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(0,100),80) 
#random.sample, first the range and then the number of items

In [3]:
#double check whether the each value is unique
from collections import Counter
print(Counter(sample_list_1))
print(len(sample_list_1))

Counter({24: 1, 86: 1, 22: 1, 76: 1, 35: 1, 81: 1, 95: 1, 69: 1, 56: 1, 41: 1, 14: 1, 98: 1, 27: 1, 37: 1, 71: 1, 9: 1, 57: 1, 53: 1, 6: 1, 26: 1, 4: 1, 68: 1, 2: 1, 83: 1, 65: 1, 52: 1, 5: 1, 97: 1, 58: 1, 20: 1, 94: 1, 25: 1, 67: 1, 78: 1, 73: 1, 75: 1, 85: 1, 13: 1, 79: 1, 48: 1, 60: 1, 80: 1, 0: 1, 23: 1, 91: 1, 11: 1, 50: 1, 12: 1, 96: 1, 21: 1, 59: 1, 49: 1, 74: 1, 10: 1, 90: 1, 51: 1, 15: 1, 30: 1, 16: 1, 77: 1, 42: 1, 17: 1, 84: 1, 61: 1, 39: 1, 64: 1, 8: 1, 29: 1, 19: 1, 89: 1, 28: 1, 33: 1, 82: 1, 88: 1, 54: 1, 40: 1, 38: 1, 45: 1, 87: 1, 70: 1})
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [19]:
# turn the list to a set
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [20]:
# first create the empty set and then run the for loop
# random.sample provides uniqu values
# random.randrange can assign any value between your range
sample_list_2 = []
for x in range(80):
    sample_list_2.append(random.randrange(0,100))
    
print(sample_list_2)

[39, 50, 70, 36, 12, 89, 34, 73, 27, 96, 65, 41, 60, 92, 91, 23, 54, 71, 79, 59, 79, 98, 77, 30, 85, 14, 1, 16, 4, 92, 24, 41, 47, 56, 17, 76, 89, 90, 66, 4, 26, 11, 52, 7, 50, 47, 58, 42, 17, 24, 14, 53, 41, 72, 28, 99, 70, 37, 51, 49, 88, 76, 98, 54, 27, 24, 9, 28, 49, 9, 35, 31, 60, 24, 70, 38, 72, 80, 15, 28]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [21]:
set2 = set(sample_list_2)
len(set2)
#sets cannot have duplicate values

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [22]:

set3 = set1 - set2

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [23]:

set4 = set2 - set1

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [24]:
# intersection or set1 & set2>
set5 = set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [26]:
print(len(set1) == len(set3) + len(set5))
print(len(set2) == len(set4) + len(set5))

True
True

#### Create an empty set called `set6`.

In [11]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [27]:
# function update, add multiple items
set6.update(set3,set5)

#### Check if `set1` and `set6` are equal.

In [28]:
if set1 == set6:
    print(True)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [29]:
#issubset: indicates whether set contains the other set
set1_set2 = set2.issubset(set1)

print(set1_set2)

set1_set3 = set3.issubset(set1)

print(set1_set3)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [30]:
set_345 = set3.union(set4,set5)
set_12 = set1.union(set2)

set_345 == set_12

True

#### Using the `pop` method, remove an element from `set1`.

In [17]:
# pop removes the last item but the sets are unordered thereby you wont know which item was removed
set1.pop()

print(set1)

{2, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 33, 35, 37, 38, 39, 40, 41, 42, 45, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 64, 65, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [18]:
# difference update: removes the items in this set that are also included in another, specified set
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1.difference_update(list_to_remove)
print(set1)

{2, 4, 5, 6, 8, 10, 12, 13, 14, 15, 16, 17, 20, 22, 23, 24, 25, 26, 27, 28, 30, 33, 35, 37, 38, 40, 42, 45, 48, 50, 52, 53, 54, 56, 57, 58, 60, 64, 65, 67, 68, 70, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 94, 95, 96, 97, 98}